.logo_whatsapp{
    height: 2%;
    width:2%;
}
h1
    {
        font-family: "Edu AU VIC WA NT Arrows", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        text-decoration: underline;
        text-align: center;
      }
.s{
   font-family:  "Bokor", system-ui;
    font-style: normal;
    text-decoration: underline;
    background-color:#DDDDEC;
    text-align: center;
    font-weight: 400;
    size: 100px;
  }
  h1{
    color:#63F4DF;
    background-color: #450B32;
  }
  body{
    background-color: #FAC3E6;
  }
  p{
    background-color: #F3F3F5;
  }
  h4{
    text-align: center;
    text-decoration: underline;
  }
  a{
    color: rgb(211, 16, 16);
  }
  .instagram{
    text-align: end;
  }
  .eli{
    height: 10%;
    width: 10%;
  }
  .victor{
    height: 10%;
    width: 10%;
  }
